/libs/libav
/libs/qpsnr/src/qav.cpp~
/scripts/calculatePSNRandSSIM.sh~
/scripts/downloadRepresentations.sh~
/scripts/downloadAll.sh~
/scripts/measureAll.sh~
/setup/installLibs.sh~
/scripts/youtubeAPI/upload_video.py~
/scripts/youtubeAPI/delete_video.py~
/scripts/uploadMeasurement.sh~
/scripts/youtubeAPI/delete_video.py-oauth2.json
/scripts/youtubeAPI/upload_video.py-oauth2.json
/scripts/client_secrets.json
/scripts/youtubeAPI/client_secrets.json
/scripts/downloadAudioRepresentations.sh~
/scripts/scheduleUploadTests.sh~
/results/uploadMeasurements/16.txt
/results/uploadMeasurements/all.txt
/results/uploadMeasurements/asia_all.txt
/results/uploadMeasurements/asia_uploadtimes.txt
/results/uploadMeasurements/bbb1080p_asia/00.txt
/results/uploadMeasurements/bbb1080p_asia/02.txt
/results/uploadMeasurements/bbb1080p_asia/04.txt
/results/uploadMeasurements/bbb1080p_asia/06.txt
/results/uploadMeasurements/bbb1080p_asia/08.txt
/results/uploadMeasurements/bbb1080p_asia/10.txt
/results/uploadMeasurements/bbb1080p_asia/12.txt
/results/uploadMeasurements/bbb1080p_asia/14.txt
/results/uploadMeasurements/bbb1080p_asia/16.txt
/results/uploadMeasurements/bbb1080p_asia/18.txt
/results/uploadMeasurements/bbb1080p_asia/20.txt
/results/uploadMeasurements/bbb1080p_asia/22.txt
/results/uploadMeasurements/bbb1080p_euw/00.txt
/results/uploadMeasurements/bbb1080p_euw/02.txt
/results/uploadMeasurements/bbb1080p_euw/04.txt
/results/uploadMeasurements/bbb1080p_euw/06.txt
/results/uploadMeasurements/bbb1080p_euw/08.txt
/results/uploadMeasurements/bbb1080p_euw/10.txt
/results/uploadMeasurements/bbb1080p_euw/12.txt
/results/uploadMeasurements/bbb1080p_euw/14.txt
/results/uploadMeasurements/bbb1080p_euw/16.txt
/results/uploadMeasurements/bbb1080p_euw/18.txt
/results/uploadMeasurements/bbb1080p_euw/20.txt
/results/uploadMeasurements/bbb1080p_euw/22.txt
/results/uploadMeasurements/bbb1080p_us/00.txt
/results/uploadMeasurements/bbb1080p_us/02.txt
/results/uploadMeasurements/bbb1080p_us/04.txt
/results/uploadMeasurements/bbb1080p_us/06.txt
/results/uploadMeasurements/bbb1080p_us/08.txt
/results/uploadMeasurements/bbb1080p_us/10.txt
/results/uploadMeasurements/bbb1080p_us/12.txt
/results/uploadMeasurements/bbb1080p_us/14.txt
/results/uploadMeasurements/bbb1080p_us/16.txt
/results/uploadMeasurements/bbb1080p_us/18.txt
/results/uploadMeasurements/bbb1080p_us/20.txt
/results/uploadMeasurements/bbb1080p_us/22.txt
/results/uploadMeasurements/bbb2160p_asia/00.txt
/results/uploadMeasurements/bbb2160p_asia/02.txt
/results/uploadMeasurements/bbb2160p_asia/04.txt
/results/uploadMeasurements/bbb2160p_asia/06.txt
/results/uploadMeasurements/bbb2160p_asia/08.txt
/results/uploadMeasurements/bbb2160p_asia/10.txt
/results/uploadMeasurements/bbb2160p_asia/12.txt
/results/uploadMeasurements/bbb2160p_asia/14.txt
/results/uploadMeasurements/bbb2160p_asia/16.txt
/results/uploadMeasurements/bbb2160p_asia/18.txt
/results/uploadMeasurements/bbb2160p_asia/20.txt
/results/uploadMeasurements/bbb2160p_asia/22.txt
/results/uploadMeasurements/bbb2160p_euw/00.txt
/results/uploadMeasurements/bbb2160p_euw/02.txt
/results/uploadMeasurements/bbb2160p_euw/04.txt
/results/uploadMeasurements/bbb2160p_euw/06.txt
/results/uploadMeasurements/bbb2160p_euw/08.txt
/results/uploadMeasurements/bbb2160p_euw/10.txt
/results/uploadMeasurements/bbb2160p_euw/12.txt
/results/uploadMeasurements/bbb2160p_euw/14.txt
/results/uploadMeasurements/bbb2160p_euw/16.txt
/results/uploadMeasurements/bbb2160p_euw/18.txt
/results/uploadMeasurements/bbb2160p_euw/20.txt
/results/uploadMeasurements/bbb2160p_euw/22.txt
/results/uploadMeasurements/bbb2160p_us/00.txt
/results/uploadMeasurements/bbb2160p_us/02.txt
/results/uploadMeasurements/bbb2160p_us/04.txt
/results/uploadMeasurements/bbb2160p_us/06.txt
/results/uploadMeasurements/bbb2160p_us/08.txt
/results/uploadMeasurements/bbb2160p_us/10.txt
/results/uploadMeasurements/bbb2160p_us/12.txt
/results/uploadMeasurements/bbb2160p_us/14.txt
/results/uploadMeasurements/bbb2160p_us/16.txt
/results/uploadMeasurements/bbb2160p_us/18.txt
/results/uploadMeasurements/bbb2160p_us/20.txt
/results/uploadMeasurements/bbb2160p_us/22.txt
/results/uploadMeasurements/bbb720p_asia/00.txt
/results/uploadMeasurements/bbb720p_asia/02.txt
/results/uploadMeasurements/bbb720p_asia/04.txt
/results/uploadMeasurements/bbb720p_asia/06.txt
/results/uploadMeasurements/bbb720p_asia/08.txt
/results/uploadMeasurements/bbb720p_asia/10.txt
/results/uploadMeasurements/bbb720p_asia/12.txt
/results/uploadMeasurements/bbb720p_asia/14.txt
/results/uploadMeasurements/bbb720p_asia/16.txt
/results/uploadMeasurements/bbb720p_asia/18.txt
/results/uploadMeasurements/bbb720p_asia/20.txt
/results/uploadMeasurements/bbb720p_asia/22.txt
/results/uploadMeasurements/bbb720p_euw/00.txt
/results/uploadMeasurements/bbb720p_euw/02.txt
/results/uploadMeasurements/bbb720p_euw/04.txt
/results/uploadMeasurements/bbb720p_euw/06.txt
/results/uploadMeasurements/bbb720p_euw/08.txt
/results/uploadMeasurements/bbb720p_euw/10.txt
/results/uploadMeasurements/bbb720p_euw/12.txt
/results/uploadMeasurements/bbb720p_euw/14.txt
/results/uploadMeasurements/bbb720p_euw/16.txt
/results/uploadMeasurements/bbb720p_euw/18.txt
/results/uploadMeasurements/bbb720p_euw/20.txt
/results/uploadMeasurements/bbb720p_euw/22.txt
/results/uploadMeasurements/bbb720p_us/00.txt
/results/uploadMeasurements/bbb720p_us/02.txt
/results/uploadMeasurements/bbb720p_us/04.txt
/results/uploadMeasurements/bbb720p_us/06.txt
/results/uploadMeasurements/bbb720p_us/08.txt
/results/uploadMeasurements/bbb720p_us/10.txt
/results/uploadMeasurements/bbb720p_us/12.txt
/results/uploadMeasurements/bbb720p_us/14.txt
/results/uploadMeasurements/bbb720p_us/16.txt
/results/uploadMeasurements/bbb720p_us/18.txt
/results/uploadMeasurements/bbb720p_us/20.txt
/results/uploadMeasurements/bbb720p_us/22.txt
/results/uploadMeasurements/nolimit/bbb1080p_asia/00.txt
/results/uploadMeasurements/nolimit/bbb1080p_asia/02.txt
/results/uploadMeasurements/nolimit/bbb1080p_asia/04.txt
/results/uploadMeasurements/nolimit/bbb1080p_asia/06.txt
/results/uploadMeasurements/nolimit/bbb1080p_asia/08.txt
/results/uploadMeasurements/nolimit/bbb1080p_asia/10.txt
/results/uploadMeasurements/nolimit/bbb1080p_asia/12.txt
/results/uploadMeasurements/nolimit/bbb1080p_asia/14.txt
/results/uploadMeasurements/nolimit/bbb1080p_asia/16.txt
/results/uploadMeasurements/nolimit/bbb1080p_asia/18.txt
/results/uploadMeasurements/nolimit/bbb1080p_asia/20.txt
/results/uploadMeasurements/nolimit/bbb1080p_asia/22.txt
/results/uploadMeasurements/nolimit/bbb2160p_asia/00.txt
/results/uploadMeasurements/nolimit/bbb2160p_asia/02.txt
/results/uploadMeasurements/nolimit/bbb2160p_asia/04.txt
/results/uploadMeasurements/nolimit/bbb2160p_asia/06.txt
/results/uploadMeasurements/nolimit/bbb2160p_asia/08.txt
/results/uploadMeasurements/nolimit/bbb2160p_asia/10.txt
/results/uploadMeasurements/nolimit/bbb2160p_asia/12.txt
/results/uploadMeasurements/nolimit/bbb2160p_asia/14.txt
/results/uploadMeasurements/nolimit/bbb2160p_asia/16.txt
/results/uploadMeasurements/nolimit/bbb2160p_asia/18.txt
/results/uploadMeasurements/nolimit/bbb2160p_asia/20.txt
/results/uploadMeasurements/nolimit/bbb2160p_asia/22.txt
/results/uploadMeasurements/nolimit/bbb720p_asia/00.txt
/results/uploadMeasurements/nolimit/bbb720p_asia/02.txt
/results/uploadMeasurements/nolimit/bbb720p_asia/04.txt
/results/uploadMeasurements/nolimit/bbb720p_asia/06.txt
/results/uploadMeasurements/nolimit/bbb720p_asia/08.txt
/results/uploadMeasurements/nolimit/bbb720p_asia/10.txt
/results/uploadMeasurements/nolimit/bbb720p_asia/12.txt
/results/uploadMeasurements/nolimit/bbb720p_asia/14.txt
/results/uploadMeasurements/nolimit/bbb720p_asia/16.txt
/results/uploadMeasurements/nolimit/bbb720p_asia/18.txt
/results/uploadMeasurements/nolimit/bbb720p_asia/20.txt
/results/uploadMeasurements/nolimit/bbb720p_asia/22.txt
/results/uploadMeasurements/nolimit/tos1080p_asia/00.txt
/results/uploadMeasurements/nolimit/tos1080p_asia/02.txt
/results/uploadMeasurements/nolimit/tos1080p_asia/04.txt
/results/uploadMeasurements/nolimit/tos1080p_asia/06.txt
/results/uploadMeasurements/nolimit/tos1080p_asia/08.txt
/results/uploadMeasurements/nolimit/tos1080p_asia/10.txt
/results/uploadMeasurements/nolimit/tos1080p_asia/12.txt
/results/uploadMeasurements/nolimit/tos1080p_asia/14.txt
/results/uploadMeasurements/nolimit/tos1080p_asia/16.txt
/results/uploadMeasurements/nolimit/tos1080p_asia/18.txt
/results/uploadMeasurements/nolimit/tos1080p_asia/20.txt
/results/uploadMeasurements/nolimit/tos1080p_asia/22.txt
/results/uploadMeasurements/nolimit/tos2160p_asia/00.txt
/results/uploadMeasurements/nolimit/tos2160p_asia/02.txt
/results/uploadMeasurements/nolimit/tos2160p_asia/04.txt
/results/uploadMeasurements/nolimit/tos2160p_asia/06.txt
/results/uploadMeasurements/nolimit/tos2160p_asia/08.txt
/results/uploadMeasurements/nolimit/tos2160p_asia/10.txt
/results/uploadMeasurements/nolimit/tos2160p_asia/12.txt
/results/uploadMeasurements/nolimit/tos2160p_asia/14.txt
/results/uploadMeasurements/nolimit/tos2160p_asia/16.txt
/results/uploadMeasurements/nolimit/tos2160p_asia/18.txt
/results/uploadMeasurements/nolimit/tos2160p_asia/20.txt
/results/uploadMeasurements/nolimit/tos2160p_asia/22.txt
/results/uploadMeasurements/nolimit/tos720p_asia/00.txt
/results/uploadMeasurements/nolimit/tos720p_asia/02.txt
/results/uploadMeasurements/nolimit/tos720p_asia/04.txt
/results/uploadMeasurements/nolimit/tos720p_asia/06.txt
/results/uploadMeasurements/nolimit/tos720p_asia/08.txt
/results/uploadMeasurements/nolimit/tos720p_asia/10.txt
/results/uploadMeasurements/nolimit/tos720p_asia/12.txt
/results/uploadMeasurements/nolimit/tos720p_asia/14.txt
/results/uploadMeasurements/nolimit/tos720p_asia/16.txt
/results/uploadMeasurements/nolimit/tos720p_asia/18.txt
/results/uploadMeasurements/nolimit/tos720p_asia/20.txt
/results/uploadMeasurements/nolimit/tos720p_asia/22.txt
/results/uploadMeasurements/statistics/all.txt
/results/uploadMeasurements/statistics/region_all_time_0.txt
/results/uploadMeasurements/statistics/region_all_time_10.txt
/results/uploadMeasurements/statistics/region_all_time_12.txt
/results/uploadMeasurements/statistics/region_all_time_14.txt
/results/uploadMeasurements/statistics/region_all_time_16.txt
/results/uploadMeasurements/statistics/region_all_time_18.txt
/results/uploadMeasurements/statistics/region_all_time_20.txt
/results/uploadMeasurements/statistics/region_all_time_22.txt
/results/uploadMeasurements/statistics/region_all_time_2.txt
/results/uploadMeasurements/statistics/region_all_time_4.txt
/results/uploadMeasurements/statistics/region_all_time_6.txt
/results/uploadMeasurements/statistics/region_all_time_8.txt
/results/uploadMeasurements/statistics/region_all_time_all.txt
/results/uploadMeasurements/statistics/region_asia_time_all.txt
/results/uploadMeasurements/statistics/region_euw_time_all.txt
/results/uploadMeasurements/statistics/region_usc_time_all.txt
/results/uploadMeasurements/statistics_representations/region_all_time_all.txt
/results/uploadMeasurements/tos1080p_asia/00.txt
/results/uploadMeasurements/tos1080p_asia/02.txt
/results/uploadMeasurements/tos1080p_asia/04.txt
/results/uploadMeasurements/tos1080p_asia/06.txt
/results/uploadMeasurements/tos1080p_asia/08.txt
/results/uploadMeasurements/tos1080p_asia/10.txt
/results/uploadMeasurements/tos1080p_asia/12.txt
/results/uploadMeasurements/tos1080p_asia/14.txt
/results/uploadMeasurements/tos1080p_asia/16.txt
/results/uploadMeasurements/tos1080p_asia/18.txt
/results/uploadMeasurements/tos1080p_asia/20.txt
/results/uploadMeasurements/tos1080p_asia/22.txt
/results/uploadMeasurements/tos1080p_euw/00.txt
/results/uploadMeasurements/tos1080p_euw/02.txt
/results/uploadMeasurements/tos1080p_euw/04.txt
/results/uploadMeasurements/tos1080p_euw/06.txt
/results/uploadMeasurements/tos1080p_euw/08.txt
/results/uploadMeasurements/tos1080p_euw/10.txt
/results/uploadMeasurements/tos1080p_euw/12.txt
/results/uploadMeasurements/tos1080p_euw/14.txt
/results/uploadMeasurements/tos1080p_euw/16.txt
/results/uploadMeasurements/tos1080p_euw/18.txt
/results/uploadMeasurements/tos1080p_euw/20.txt
/results/uploadMeasurements/tos1080p_euw/22.txt
/results/uploadMeasurements/tos1080p_us/00.txt
/results/uploadMeasurements/tos1080p_us/02.txt
/results/uploadMeasurements/tos1080p_us/04.txt
/results/uploadMeasurements/tos1080p_us/06.txt
/results/uploadMeasurements/tos1080p_us/08.txt
/results/uploadMeasurements/tos1080p_us/10.txt
/results/uploadMeasurements/tos1080p_us/12.txt
/results/uploadMeasurements/tos1080p_us/14.txt
/results/uploadMeasurements/tos1080p_us/16.txt
/results/uploadMeasurements/tos1080p_us/18.txt
/results/uploadMeasurements/tos1080p_us/20.txt
/results/uploadMeasurements/tos1080p_us/22.txt
/results/uploadMeasurements/tos2160p_asia/00.txt
/results/uploadMeasurements/tos2160p_asia/02.txt
/results/uploadMeasurements/tos2160p_asia/04.txt
/results/uploadMeasurements/tos2160p_asia/06.txt
/results/uploadMeasurements/tos2160p_asia/08.txt
/results/uploadMeasurements/tos2160p_asia/10.txt
/results/uploadMeasurements/tos2160p_asia/12.txt
/results/uploadMeasurements/tos2160p_asia/14.txt
/results/uploadMeasurements/tos2160p_asia/16.txt
/results/uploadMeasurements/tos2160p_asia/18.txt
/results/uploadMeasurements/tos2160p_asia/20.txt
/results/uploadMeasurements/tos2160p_asia/22.txt
/results/uploadMeasurements/tos2160p_euw/00.txt
/results/uploadMeasurements/tos2160p_euw/02.txt
/results/uploadMeasurements/tos2160p_euw/04.txt
/results/uploadMeasurements/tos2160p_euw/06.txt
/results/uploadMeasurements/tos2160p_euw/08.txt
/results/uploadMeasurements/tos2160p_euw/10.txt
/results/uploadMeasurements/tos2160p_euw/12.txt
/results/uploadMeasurements/tos2160p_euw/14.txt
/results/uploadMeasurements/tos2160p_euw/16.txt
/results/uploadMeasurements/tos2160p_euw/18.txt
/results/uploadMeasurements/tos2160p_euw/20.txt
/results/uploadMeasurements/tos2160p_euw/22.txt
/results/uploadMeasurements/tos2160p_us/00.txt
/results/uploadMeasurements/tos2160p_us/02.txt
/results/uploadMeasurements/tos2160p_us/04.txt
/results/uploadMeasurements/tos2160p_us/06.txt
/results/uploadMeasurements/tos2160p_us/08.txt
/results/uploadMeasurements/tos2160p_us/10.txt
/results/uploadMeasurements/tos2160p_us/12.txt
/results/uploadMeasurements/tos2160p_us/14.txt
/results/uploadMeasurements/tos2160p_us/16.txt
/results/uploadMeasurements/tos2160p_us/18.txt
/results/uploadMeasurements/tos2160p_us/20.txt
/results/uploadMeasurements/tos2160p_us/22.txt
/results/uploadMeasurements/tos720p_asia/00.txt
/results/uploadMeasurements/tos720p_asia/02.txt
/results/uploadMeasurements/tos720p_asia/04.txt
/results/uploadMeasurements/tos720p_asia/06.txt
/results/uploadMeasurements/tos720p_asia/08.txt
/results/uploadMeasurements/tos720p_asia/10.txt
/results/uploadMeasurements/tos720p_asia/12.txt
/results/uploadMeasurements/tos720p_asia/14.txt
/results/uploadMeasurements/tos720p_asia/16.txt
/results/uploadMeasurements/tos720p_asia/18.txt
/results/uploadMeasurements/tos720p_asia/20.txt
/results/uploadMeasurements/tos720p_asia/22.txt
/results/uploadMeasurements/tos720p_euw/00.txt
/results/uploadMeasurements/tos720p_euw/02.txt
/results/uploadMeasurements/tos720p_euw/04.txt
/results/uploadMeasurements/tos720p_euw/06.txt
/results/uploadMeasurements/tos720p_euw/08.txt
/results/uploadMeasurements/tos720p_euw/10.txt
/results/uploadMeasurements/tos720p_euw/12.txt
/results/uploadMeasurements/tos720p_euw/14.txt
/results/uploadMeasurements/tos720p_euw/16.txt
/results/uploadMeasurements/tos720p_euw/18.txt
/results/uploadMeasurements/tos720p_euw/20.txt
/results/uploadMeasurements/tos720p_euw/22.txt
/results/uploadMeasurements/tos720p_us/00.txt
/results/uploadMeasurements/tos720p_us/02.txt
/results/uploadMeasurements/tos720p_us/04.txt
/results/uploadMeasurements/tos720p_us/06.txt
/results/uploadMeasurements/tos720p_us/08.txt
/results/uploadMeasurements/tos720p_us/10.txt
/results/uploadMeasurements/tos720p_us/12.txt
/results/uploadMeasurements/tos720p_us/14.txt
/results/uploadMeasurements/tos720p_us/16.txt
/results/uploadMeasurements/tos720p_us/18.txt
/results/uploadMeasurements/tos720p_us/20.txt
/results/uploadMeasurements/tos720p_us/22.txt
/results/uploadMeasurements/Uploads.tsv
/results/uploadMeasurements/UploadTimes.tsv
